.ant-carousel .slick-slide {
    text-align: center;
    align-items: center;
    height: 200px;
    width: 500px;
    line-height: 160px;
    overflow: hidden;
  }
  .ant-carousel .slick-dots li.slick-active button {
    background: #000000 !important;
  }
  .ant-carousel .slick-dots li{
    background:#3b3b3b !important;
  }
  .ant-carousel .slick-slide img{
    display:block;
    margin:auto;
    width:1200px !important;
    height:550px !important;
    background-position: cover center !important; 
}
  .ant-carousel .slick-slide h3 {
    color: #9d9d9d;
    margin: -58px;
    font-size: inherit;
    font-style: italic;
    font-family: Arial;
  }