.logo {
  width: 50px;
  height: 31px;
  margin-bottom: 26%;
  font-weight: bold;
}
.logo img {
  width: 100%;
  margin-left: 100%;
}
.ant-menu.ant-menu-dark .auth_Button:hover {
  background-color: #1890ff
}
.site-layout .site-layout-background {
    background: #fff;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
